<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple HTML Page</title>
</head>
<body>
    <h1>Question 1: From this list, rank your 5 most favourite and 5 least favourite support tasks. Provide a brief explanation for each.</h1>
    <p>Answers.</p>
    <p>5 most favourite</p>
    <p>1. Help train and onboard new support teammates: Creating training doc and helping peers understand product is one of my favourite as it helps me revise and increase my skills too. Here is a git hub repo: https://github.com/rahul1269-kaushal/kubernetes_test_image which I used to test new hire on how DOKS works. Documentation was done on confluence. However, I pasted it to repo readme in case anyone else needed help on DOKS. I assure you readme looked much better confluence </p>
    <p>2. Act as a dedicated CSE for a handful of key customers to ensure their success using Vercel: I love working with customers directly as this gives me more clear picture about there deployments,architecture and workflows . Also, it makes my job easier as it will help us troubelshoot the issue more appropiately</p>
    <p>3. Work with engineering teams during incidents and provide updates to internal and external stakeholders: Keeping customer updated and providing regular updates is what make support strong and maintain the customers trust in our product and services.</p>
    <p>4. Write and maintain support articles and docs pages: Documentation is important as it helps customer and community.  I have helped in creating multiple public docs on documenting steps for how-to for new products and traings as I shared in response to my first question</p>
    <p>5.Dig through logs to troubleshoot a customer's broken project: Diggng through logs maybe monotonous. Albeit, it is best way to figure out what is happening with the hosted service </p>
    <p></p>
    <p>5 least favourite</p>
    <p>1. Respond to 50+ support requests via email every day: becasue if we get that many ticket it might be due to incident and incidents are never good. </p>
    <p>2. Respond to queries on Twitter, Reddit, Hacker News and other 3rd party sites: Socail esclation are usually by very frustrated customers. So I don't like taking social esclation much </p>
    <p>3. Manage a support team: Making sure workload are distributed equally. So not a single person is overburdenned. I also love helping peers in case they are stuck with helping them replicate the issue for more clarity.  </p>
    <p>4. Analyze hundreds of support tickets to spot trends the product team can use: This is something that is required for product improvemen and a great thing to do. However, I personally don't like going through so many tickets</p>
    <p>5. Create video tutorials to help teach users a specific feature or use case: Video is a hgreat way to teach people a specific feature. However, I'm more of a documentation guy as I feel its easier to go through. However, I never tried creating a video and done mostly meet sessions for trainings. So I don't know if this might change when I create a video on my own.</p>

</body>
</html>