<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple HTML Page</title>
</head>
<body>
    <h1>How could we improve or alter this familiarisation exercise?</h1>
    <p>Answers.</p>
    <p> The process is great as I was complete noob to Vercel conosle. However, I can now easily navigate on the conosle to create or delete project. This also helped me to see how a customer feels while using the product. In my opinion there is no change required to this familiarisation methods.
        Hope I get a chance to see Vercel backend too. </p>
    <p> </p>

</body>
</html>