<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple HTML Page</title>
</head>
<body>
    <h1>Question 2: What do you want to learn or do more of at work?</h1>
    <p>Answers.</p>
    <p>I want to be a Solution Architect and proficient enough to create a application or deployment from scratch. Working with vercel I'll get exosure to lot of customers web apps deploy apps using diffrent programmimg languages and frameworks. I feel this will help me grow and understand the web applications deployment lifecycle.  </p>
    
</body>
</html>