<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple HTML Page</title>
</head>
<body>
    <h1>Imagine a customer writes in requesting help with a build issue on a framework or technology that you've not seen before. How would you begin troubleshooting this and what questions would you ask the customer to understand the situation better?</h1>
    <p>Answers.</p>
    <p>   </p>
    <p>To help the customer. I'll try to search for the sample repo for the application framework. As this will help me understand the repo structure of the app and if customer is missing any required files. Necessary for build. After checking the repo structure of the sample app I'll check the build logs to see if there are any error that can cause the build to fails. If there are error i'll try to find the reason what caused them and If not. I'll ask the customer for the workflow of the app and where they see the error and also the repo structure they are using. To make sure all the relevant files are present.</p>
</body>
</html>