<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple HTML Page</title>
</head>
<body>
    <h1>What do you think is one of the most common problems which customers ask Vercel for help with? How would you help customers to overcome common problems, short-term and long-term?</h1>
    <p>Answers.</p>
    <p> Vercel customrs might be facing issues with build and preview of there application. As deploying in local environment and cloud environment is a bit diffrent. While I created this  web application on django I found it a bit challenging to fix my builds as they were build successfuly but showed 404 error. THen by checking a sample app in vercel I found out I was missing the vercel.json file to point to my project directory. Which was not mentioned in the doc. SO  think creating more elaborate docs will help customer to deploy their apps fast and much more easily. I love documenting things and if I get a chance to work at Vercel. I'll try my best to upgrade these docs so that anyone can deploy there projects in Vercel cloud.   </p>
    <p> </p>

</body>
</html>
