<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vercel Assignment</title>
</head>
<body>
    <h1>Vercel Assignment</h1>
    <p>Dear Vercel Hiring Team,</p>
    <p>Thank you for considering my application for the position. I appreciate the opportunity to showcase my skills and experience.</p>
    <p>To access the answers to the questions, please visit them in below format:</p>
    <p> vercel_deployment_link </p>
    <p>If you have any further questions or need additional information, please don't hesitate to contact me.</p>
    <p>Thank you again for considering my application.</p>
    <p>Sincerely,</p>
    <p>Rahul Kaushsal</p>
</body>
</html>